@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #6c7279;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #505269;
}

.header.fixed {
  position: fixed;
  height: auto;
  background-color: #2a2e48;
}

.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav__link {
  margin-left: 50px;
  opacity: 0.75;
  color: #ffffff;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

.burger {
  display: none;
  padding: 15px 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  color: transparent;
  position: relative;
}

.burger__item::before, .burger__item::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: #2a2e48 url("../img/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  margin: 0 0 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__subtitle {
  margin-bottom: 65px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 18px 53px;
  vertical-align: top;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.9;
  color: #ffffff;
  border-radius: 3px;
  border: 0;
  -webkit-transition: background .1s linear;
  transition: background .1s linear;
}

.btn-red {
  background-color: #e84545;
}

.btn-red:hover {
  background-color: #dd3434;
}

.btn-long {
  min-width: 280px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 95px 0;
}

.feature__item {
  width: 33.33333%;
  padding: 0 40px;
  margin: 25px 0;
  text-align: center;
}

.feature__icon {
  margin-bottom: 25px;
}

.feature__title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.feature__text {
  line-height: 1.5;
  color: #6c7279;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background: rgba(232, 69, 69, 0.9);
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.works__title {
  text-transform: uppercase;
  font-weight: 700;
}

.team {
  margin: 100px 0 70px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  margin-bottom: 30px;
  padding: 0 15px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  margin-bottom: 8px;
  font-size: 22px;
  color: #2d3033;
}

.team__prof {
  margin-bottom: 25px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}

.team__text {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #6c7270;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-color: #fff;
  border: 1px solid #e8ecee;
  -webkit-transition: background .1s linear;
  transition: background .1s linear;
}

.social__item:hover {
  background-color: #e8ecee;
}

.social__item:hover .social__icon {
  fill: #000000;
}

.social__icon {
  display: block;
  height: 18px;
  fill: #c6cacc;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.social_footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_footer .social__item {
  background-color: transparent;
  border-width: 2px;
  border-color: #fff;
  border-radius: 2px;
}

.social_footer .social__item:hover {
  background-color: #ffffff;
}

.social_footer .social__icon {
  fill: #fff;
}

.reviews {
  overflow: hidden;
  background-color: #53354a;
}

.reviews__slider {
  height: 500px;
  overflow: hidden;
}

.reviews__slider.slick-initialized {
  height: auto;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews__text {
  margin-bottom: 20px;
  font-family: 'Cardo', sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #f4f2f3;
}

.reviews__author {
  font-weight: 700;
  font-style: 13px;
  text-transform: uppercase;
  line-height: .9;
  color: #f4f2f3;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 50%;
  margin: 0;
  padding: 0 0 10px;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  color: transparent;
  background-color: #ffffff;
  opacity: .5;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots button:focus {
  outline: 0;
}

.slick-dots .slick-active button {
  opacity: 1;
}

.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  margin-bottom: 10px;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
}

.download__text {
  margin-bottom: 30px;
  font-size: 13px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  background-color: #3a3e64;
}

.footer__inner {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__block {
  width: 33.33333%;
  padding: 0 15px;
  text-align: center;
}

.footer__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.footer__text {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.copyright {
  padding: 20px 0;
  background-color: #313454;
}

.copyright__text {
  font-size: 14px;
  line-height: 1.5;
  color: #808080;
  text-align: center;
}

.copyright__text span {
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 1300px) {
  .works__item {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .nav {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    background-color: #31344e;
  }
  .nav__link {
    padding: 9px 15px;
  }
  .nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: block;
  }
  .intro__title {
    font-size: 40px;
  }
  .feature__item {
    width: 50%;
  }
  .team__item {
    width: 50%;
    text-align: center;
  }
  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__photo {
    width: 100%;
    margin: 15px 0 40px;
    overflow: hidden;
  }
  .reviews__content {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
  }
  .intro__title {
    font-size: 30px;
  }
  .intro__subtitle {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .feature {
    margin: 40px 0;
  }
  .feature__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .works__item {
    width: 100%;
    height: 300px;
  }
  .team {
    margin: 60px 0 30px;
  }
  .team__item {
    width: 100%;
  }
  .reviews__text {
    font-size: 25px;
  }
  .btn-long {
    min-width: 260px;
  }
  .download {
    margin: 50px 0;
  }
  .download__title {
    font-size: 24px;
  }
  .footer__inner {
    padding: 30px 0;
  }
  .footer__block {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 414px) {
  .reviews__img {
    right: -100px;
  }
}
/*# sourceMappingURL=style.css.map */