@import "fonts"
    
*,
*:before,
*:after
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Raleway', sans-serif
    font-size: 14px
    -webkit-font-smoothing: antialiased
    color: #6c7279
    background-color: #fff

a 
    text-decoration: none

// Дополнительные шрифты
//font-family: 'Open Sans', sans-serif

.container
    width: 100%
    max-width: 1170px
    margin: 0 auto

// Header
//======================================

.header
    position: absolute
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    height: 100px
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
        padding: 35px 0
        border-bottom: 1px solid #505269

// Nav
//========================================

.nav
    display: flex
    font-size: 13px
    font-weight: bold
    text-transform: uppercase
    &__link
        margin-left: 50px
        opacity: 0.75
        color: #ffffff
        transition: opacity .3s linear
        &:first-child
            margin-left: 0
        &:hover
            opacity: 1


//Intro
//====================================

// попытка добавить cover в background вызовет ошибку
.intro
    display: flex
    flex-direction: column
    justify-content: center
    height: 750px
    padding-top: 100px
    background: #2a2e48 url("../img/intro.jpg") center no-repeat
    background-size: cover
    &__inner
        width: 100%
        max-width: 970px
        margin: 0 auto
        text-align: center
    &__title
        margin: 0 0 40px
        font-family: 'Open Sans', sans-serif
        font-size: 65px
        font-weight: 700
        line-height: 1.1
        text-transform: uppercase
        color: #ffffff
    &__subtitle
        margin-bottom: 65px
        font-size: 22px
        font-weight: bold
        color: #ffffff
        line-height: 1.5

.btn
    display: inline-block
    padding: 18px 53px
    vertical-align: top
    font-family: inherit
    font-size: 13px
    font-weight: 600
    text-transform: uppercase
    line-height: 0.9
    color: #ffffff
    border-radius: 3px
    border: 0
    transition: background .1s linear
    background-color: #e84545
    &:hover
        background-color: #dd3434

.feature
    display: flex
    flex-wrap: wrap
    margin: 95px 0
    &__item
        width: 33.33333%
        padding: 0 40px
        margin: 25px 0
        text-align: center
    &__icon
        margin-bottom: 25px
    &__title
        margin-bottom: 20px
        font-size: 14px
        color: #2d3033
        font-weight: 700
        text-transform: uppercase
    &__text
        line-height: 1.5
        color: #6c7279

//works
.works
    display: flex
    flex-wrap: wrap
    &__item
        width: 25%
        height: 350px
        position: relative
        overflow: hidden
        &:hover .works__content
            opacity: 1
    &__photo
        position: absolute
        top: 50%
        left: 50%
        z-index: 1
        transform: translate3d(-50%, -50%, 0)
    &__content
        display: flex
        flex-direction: column
        justify-content: center
        position: absolute
        top: 0
        left: 0
        z-index: 2
        width: 100%
        height: 100%
        text-align: center
        color: #ffffff
        background: rgba(232, 69, 69, .9)
        opacity: 0
        transition: opacity .2s linear
    &__title
        text-transform: uppercase
        font-weight: 700

//team
.team
    margin: 100px 0
    &__inner
        display: flex
        flex-wrap: wrap
    &__item
        width: 25%
    &__photo
        display: block
        max-width: 100%
        height: auto
        margin-bottom: 20px
    &__name
        margin-bottom: 8px
        font-size: 22px
        color: #2d3033
    &__prof
        margin-bottom: 25px
        font-size: 13px
        color: #e84545
        text-transform: uppercase
    &__text
        //..