@import "fonts"
    
*,
*:before,
*:after
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Raleway', sans-serif
    font-size: 14px
    color: #6c7279
    background-color: #fff

a 
    text-decoration: none

// Дополнительные шрифты
//font-family: 'Open Sans', sans-serif

.container
    width: 100%
    max-width: 1170px
    margin: 0 auto

// Header
//======================================

.header
    position: absolute
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    height: 100px
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
        padding: 35px 0
        border-bottom: 1px solid #505269

// Nav
//========================================

.nav
    display: flex
    font-size: 13px
    font-weight: bold
    text-transform: uppercase
    &__link
        margin-left: 50px
        opacity: 0.75
        color: #ffffff
        transition: opacity .3s linear
        &:first-child
            margin-left: 0
        &:hover
            opacity: 1


//Intro
//====================================

// попытка добавить cover в background вызовет ошибку
.intro
    display: flex
    flex-direction: column
    justify-content: center
    height: 750px
    padding-top: 100px
    background: #2a2e48 url("../img/intro.jpg") center no-repeat
    background-size: cover
    &__inner
        width: 100%
        max-width: 970px
        margin: 0 auto
    &__title
        font-family: 'Open Sans', sans-serif
        font-size: 65px
        font-weight: 700
        line-height: 1.1
        text-transform: uppercase
        text-align: center
        color: #ffffff