*,
*:before,
*:after
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Raleway', sans-serif
    font-size: 14px
    color: #6c7279

/* Дополнительные шрифты
    font-family: 'Open Sans', sans-serif
*/

.container
    width: 100%
    max-width: 1170px
    margin: 0 auto

/* Header
    ======================================
*/

.header
    &__inner
        display: flex
        justify-content: space-between